body {
	background: url(../images/bg_shattered.png) 0 0 repeat #f6f6f6;
    color: #333;
    line-height: 1.5;
}

.badge-info {
	background-color: #5BC0DE;
}

.badge-primary {
	background-color: #337AB7;
}

/*nav .noactive {
	background-color: #1C7B73 !important;
	color : #fff !important;
	border-radius: 4px
}

nav .noactive a{
	
	color : #fff !important;
}

nav .noactive:hover {
	
	border-radius: 4px;
	color : #000 !important;
}

nav .noactive {
	background-color: #1C7B73 !important;
	color : #fff !important;
	border-radius: 4px
}*/